@keyframes transparentBg {
  to {
    background-color: transparent;
  }
}

@keyframes dashArrayDelay {
  0% {
    stroke-dasharray: 0 0;
  }

  50% {
    stroke-dasharray: var(--totalSvgLength2) var(--totalSvgLength2);
  }

  100% {
    stroke-dasharray: var(--totalSvgLength2) var(--totalSvgLength2);
  }
}

@keyframes growBigFast {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(50);
  }
}

@keyframes rainbow {
  to {
    --hue: 360;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fireFoxAnimate {
  to {
    stroke-dashoffset: 100%;
  }
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    stroke-width: 3;
  }

  50% {
    opacity: 1;
    stroke-width: 3;
  }

  100% {
    opacity: 0;
    stroke-width: 60;
  }
}

@keyframes fadePulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes radiusFadePulse {
  from {
    opacity: 1;
    // r: 2.6;
    r: 0%;
  }

  to {
    opacity: 0;
    // r: 30;
    r: 5%;
  }
}

@keyframes strokeWidth {
  0% {
    stroke-width: 5;
    opacity: 1;
  }

  50% {
    stroke-width: .5;
    opacity: 0;
  }

  100% {
    stroke-width: 5;
    opacity: 1;
  }
}

// https://www.gradient-animator.com/

@keyframes rainbowGlow {
  0% {
    background-position: 0% 66%
  }

  50% {
    background-position: 100% 35%
  }

  100% {
    background-position: 0% 66%
  }
}