:root {
  --white: yellow;
  --cyan: #00abed;
  --red: #e64a19;
  --green: #51ac80;
  --hue: 0;
}

}

@font-face {
  font-family: "Monofur for Powerline";
  font-style: normal;
  src: url("/includes/css/fonts/monofur-for-powerline.woff2") format("woff2");
  font-display: fallback;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  animation: rainbow 5s linear infinite;
  // background: radial-gradient(hsl(var(--hue), 80%, 85%), hsl(var(--hue), 80%, 70%));
}

body {
  background-color: $black;
  flex-grow: 1;
  margin: 0;
}