.circuitHeadingWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circuitHeading {
  font-family: 'Monofur for Powerline', Helvetica, Arial, sans-serif;
  font-size: 70px;
  font-weight: 500;
  color: #232d2d;
  opacity: 0;
  // https://www.gradient-animator.com/
  animation: fadeIn 3s 1s forwards 1, rainbowGlow 14s ease infinite;
  background: linear-gradient(147deg, #7cd7e9, #7acb6f, #e5d66f, #ff9d45, #ff4591, #a845ff, #45a7ff);
  background-size: 1400% 1400%;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.svgHeading svg {
  width: 500px;
  height: 57px;

}

.svgHeadingPath {
  stroke-width: 2;
  stroke: white;
  animation: fadeIn 3s 1s forwards 1, rainbowGlow 14s ease infinite;
  background: linear-gradient(147deg, #7cd7e9, #7acb6f, #e5d66f, #ff9d45, #ff4591, #a845ff, #45a7ff);
  background-size: 1400% 1400%;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: var(--totalSvgLength) var(--totalSvgLength);
  stroke-dashoffset: 100%;
}

.cicuitryWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cicuitryWrapper {
  margin: auto;
  height: 100%;
  max-height: 100vh;
}

.circuitryPath {
  opacity: 1;
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: var(--totalSvgLength) var(--totalSvgLength);
  stroke-dashoffset: 100%;
}

.circuitCircle {
  position: relative;
  opacity: 0;
}

// Wrapper
.cicuitryWrapper {
  animation: fadeOut 3s 1s forwards 1;
}

// face
@for $i from 1 through 5 {
  .circuitryPath:nth-of-type(#{$i}) {
    stroke: white;
    animation: fadeInOut 7s $i * 1.5s forwards 1;
  }
}

// head
@for $i from 6 through 120 {
  .circuitryPath:nth-of-type(#{$i}) {
    stroke: hsl($i * 30, 100%, 50%);
    animation: strokeWidth 1.5s $i * .1s alternate infinite;
  }
}

// circles
@for $i from 1 through 140 {
  .circuitCircle:nth-of-type(#{$i}) {
    animation: fadeIn .5s .8s forwards 1, radiusFadePulse 1.5s $i * .1s forwards infinite;
  }
}